body {
    margin: 0 auto;
    max-width: 1020px;
    min-width: 320px;
}

.header-wrapper {
    background: #2d303a;
    box-sizing: border-box;
    border-bottom: 6px solid #323746;
    padding: 30px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.header__logo-symbol {
    color: #bc5c59;
}

.header-navigation__row {
    display: flex; 
}

.header-menu {
    list-style: none;
    position: relative;
    top: 20%;
}

.header-navigation__item {
    display: block;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", Verdana sans-serif;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

.header-navigation__item:hover {
    color: #bc5c59;
}

.header-navigation__item::after {
    position: relative;
    bottom: 1px;
    content: "�";
    font-size: 5px;
    text-align: center;
    color: rgb(73, 78, 98);
    padding: 0 13.5px 0 12.5px;
}

.notpoint::after {
    content: none;
}

.slider__content {
    position: relative;
    width: 1020px;
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider__button-prev {
    position: absolute;
    left: 40px;
    top: 280px;
    background-image: url(../assets/img/prev.png);
    width: 16px;
    height: 27px;
}

.vertical-phone {
    position: absolute;
    left: 112px;
    top: 53px;
}

.vertical-phone__screen {
    position: absolute;
    top: 65px;
    left: 14px;
    height: 333px;
    width: 188px;
    background-image: url(../assets/img/screen-vertical-phone.png);
    background-position: -14px -135px;
}

.vertical-phone__base,
.horizontal-phone__base {
    position: absolute;
}

.horizontal-phone {
    position: absolute;
    top: 175px;
    left: 424px;
}

.horizontal-phone__screen {
    position: absolute;
    top: 14px;
    left: 60px;
    height: 188px;
    width: 333px;
    background-image: url(../assets/img/screen-horizontal-phone.png);
    background-position: -125px -119px;
}

.slider__button-next {
    position: absolute;
    right: 40px;
    top: 280px;
    background-image: url(../assets/img/next.png);
    width: 16px;
    height: 27px;
}

.slider__button-prev:hover,
.slider__button-next:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    width: 32px;
}

.services-wrapper {
    display: inline-block;
    height: 493px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.our-services__content h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", Verdana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.3px;
}

.our-services__content {
    margin: 65px 40px;
    color: #666d89;
}

.our-services__content > p {
    font-family: "Lato Light", Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -1.5px;
    margin: 30px 0 39px 0;
}

.card {
    display: flex;
    width: 300px;
    margin: 5px 0 12px 0;
}

.card__content {
    margin-left: 21px;
}

.card__icon {
    margin: 2px 0 0 0;
}

.card__title {
    font-family: "Lato", Verdana, sans-serif;
    font-size: 18px;
    margin: 0 0 2px 0;
    line-height: 18px;
    letter-spacing: 0.2px
}

.card__description {
    font-family: "Lato Regular", Verdana, sans-serif;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: -0.9px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-wrapper {
    position: relative;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__content {
    padding: 44px 40px 47px 40px;
}

.portfolio__content h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato",Verdana, sans-serif;
}

.portfolio__content p {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", Verdana, sans-serif;
}

.portfolio-tabs__row {
    display: flex;
    padding: 0;
    list-style: none;
}

.portfolio-menu {
    margin-right: 10px;
}

.portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-tabs__item {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", Verdana, sans-serif;
    padding: 3px 6px;
    border-radius: 5px;
    border: 1px solid #666d89;
    text-decoration: none;
}

.portfolio__gallery-item {
    margin-bottom: 20px;
}

.about-us-wrapper {
    padding: 43px 40px 61px 40px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-us__title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", Verdana, sans-serif;
    letter-spacing: 0.5px;
}

.about-us__description {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", Verdana, sans-serif;
    text-align: justify;
}

.about-us__info {
    display: flex;
    justify-content: space-between;
}

.about-us__info-item {
    width: 300px;
}

.about-us__info-item img {
    padding-top: 29px;
}

.about-us__info-item h3 {
    margin: 0 auto;
    padding-top: 12px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 900;
}

.about-us__info-item p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", Verdana, sans-serif;
    letter-spacing: -0.006em;
    text-align: justify;
}

.social-buttons {
    padding-top: 8px;
    letter-spacing: 2.5px;
}

.social-buttons__item {
    display: inline-block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
}

.icon-fb {
    background-image: url(../assets/img/facebook.png);
}

.icon-google {
    background-image: url(../assets/img/google.png);
}

.icon-twitter {
    background-image: url(../assets/img/twitter.png);
}

.icon-linkedin {
    background-image: url(../assets/img/linkedin.png);
}

.quote-wrapper {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding: 45px 40px 0 40px;
}

.quote__content,
.quote__content a {
    color: #f0d8d9;
    font-family: "Lato", Verdana, sans-serif;
}

.quote__info-title {
    font-size: 30px;
    line-height: 18px;
    font-family: "Lato", Verdana, sans-serif;
}

.quote__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

.quote__contact {
    display: flex;
    padding-top: 26px;
}

.quote__form {
    flex: 1;
}

.quote__form input,
.quote__form textarea {
    width: 603px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    margin: 0 20px 14px 0;
    padding-left: 15px;
}

.quote__form input {
    height: 38px;
}

.quote__form textarea {
    height: 190px;
    resize: none;
}

input[placeholder] {
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato", Verdana, sans-serif;
}

textarea[placeholder] {
    padding-top: 11px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato", Verdana, sans-serif;
}

.quote__form .submit {
    width: 105px;
    background-color: #2d303a;
    color: #f0d8d9;
}

.quote__information-text {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.1px;
    text-align: justify;
    margin: 7px 0;
}

.quote__information {
    display: flex;
    flex-direction: column;
}

.quote__information-title {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.quote__information-address {
    background-image: url(../assets/img/location_info.svg);
}

.quote__information-phone {
    background: url(../assets/img/phone_info.svg);
    text-decoration: none;
}
.quote__information-email {
    background-image: url(../assets/img/mail_info.svg);
    text-decoration: none;
}

.item {
    background-repeat: no-repeat;
    padding-left: 23px;
    background-position-x: 3px;
    background-position-y: center;
    font-size: 12px;
    line-height: 22px;
}

.footer-wrapper {
    padding: 12px 40px;
    background-color: #2d303a;
    overflow: auto;
}

.copyright {
    float: left;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato", Verdana, sans-serif;
}

.footer-wrapper .social-buttons {
    float: right;
}